@import "./custom-fonts.css" layer(base);

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./custom-base.css" layer(base);

.navigation {
    @apply font-bold text-red-700;
}

.gmap {
    height: 400px;
    width: 100%;
}

@theme {
    --font-sans: 'Noto Sans', sans-serif;
    --font-serif: 'Noto Serif', serif;

    /*
        Zaļš: Pantone PMS 376, hex #84bd00
        Sarkans: PMS 200, hex #ba0c2f
     */
    --color-accent: #84bd00;
    /*--color-accent-hover: rgba(var(--color-accent), 10%);*/
    --color-dark-accent: color-mix(in srgb, var(--color-accent), black 30%);
}