@import "tailwindcss";

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.navigation {
    
    @apply font-bold text-red-700;
}

.gmap {
    height: 400px;
    width: 100%;
}

@theme {
    /*
        Zaļš: Pantone PMS 376, hex #84bd00
        Sarkans: PMS 200, hex #ba0c2f
     */
    --color-accent: #84bd00;
}